body {
    font-family: 'Nunito';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato' !important;
    font-weight: 900 !important;
}

.uk-heading-hero {
    font-family: 'Lato';
    font-weight: 900 !important;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2) !important;
}

.uk-heading {
    font-famiy: 'Lato';
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    min-width: 100%;
    margin: 0 auto;
}

.masthead-background {
    background-image: url("https://scontent-iad3-1.cdninstagram.com/t51.2885-15/e35/22277681_126159258132718_875798154400759808_n.jpg");
}

.map {
    min-width: 100%;
    width: auto;
    height: 300px;
}
